1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* = Mathematical Operator
'hello'=String Value
-87.8= Float value
- = Mathematical Operator
/ = Mathematical Operator
+= Mathematical Operator
6 = Integer value

2. What is the difference between string and variable?

* String- String is a value enclosed in single or double quotes.
    * Strings are immutable.
    * Example-
         * "trip is over now" 
    * white space and other special characters can be part of string value.
    
    
* Variable-Variable is the name of memory location which holds the value of different data types such as int, float, string etc.
    * Example-
         * a=10 # here a is variable holding integer value 10
         * a="trip" # here a is variable holding string value.
         
     * white spaces and other special characters (except _ ) can't be part of variable name.
     
 * In short variable is a container and string is special type of content.

3. Describe three different data types.

    Classifiaction of data into categories is called data types.

* list- a data type which holds ordered collection of mutable values enclosed in square brackets[].
       * Different type of values can be store in a list.
       * List index range is 0 to n-1, where n is total number of elements in list
       * Example- 
               a= [ 1, 2.8, 'trip']
               
* tuple- a data type which holds ordered collection of immutable values enclosed in small brackets().
       * Different type of values can be store in a tuple.
       * Tuple index range is 0 to n-1, where n is total number of elements in tuple.
       * Example-
               a= (1, 2.8, "trip")
       * Tuples are faster than list
       
* dict- an unordered collection in which values are in pair called "key-value pair" enclosed in curly brackets{}.
        * value can be retrieved if the key is known.
        * useful in storing high volume data.
        * values can be of any type.
        * Example-
                a={"key1": "trip" , 123: 456}
        * dict is mutable.

4. What is an expression made up of? What do all expressions do?
 * Expressions are combination of operators and operands constructed according to the syntax of programming language.
    * Operands can be identifiers or/and literals.
    * Expressions can also contain method invocations.
    * If there is more than one operator in an expression, their precedence decides which operation will be performed first.
    
 * Expressions always evaluate down to a single value.
    * Example-
               2+2

 * An expression is anything that has a value.
         * Example-
                    * "Hello"
                    * 3

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
        * Statements represent an action or command such as print statements, assignment statements.
            * Example:
                        print('hello') 
                        x = 1
        * Expression is a combination of variables, operations and values that produces a result value.
            * Example:
                        5*5 #which will produce 25
                        
        * Evaluation of an expression always Produces or returns a result value. Execution of a statement may or may not                   produces or displays a result value, it only does whatever the statement says.
                * in other words every expression is statement but converse is not true.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
bacon=22
bacon+1
print("value of bacon",bacon)

value of bacon 22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [4]:
s='spam' + 'spamspam'
s

'spamspamspam'

In [6]:
s1="spam" * 3
s1

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
      A variable name should be composition of alphanumeric character and underscore(_).
      It must not contain any other special character.
      variable name must not starts from numbers.
      And so "eggs" is composition of lower case alphabets and it doesn't contain any invalid character, where as 100 starts           from number which is not valid according to naming conventions for python variable.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [14]:
v=int(input("enter the value"))
print("this is integer value", v)
vf=float(v)
print("this is float value", vf)
vs=str(v)
print("this is string format",'"',vs,'"')
vs

enter the value123
this is integer value 123
this is float value 123.0
this is string format " 123 "

'123'

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [17]:
'I have eaten ' +99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

We got TypeError as we can't concatenate integer and string values. we can solve this error by following methods:
    * replace plus(+) sign with comma(,)

In [18]:
'I have eaten ' ,99 , ' burritos.'

('I have eaten ', 99, ' burritos.')

* we can also convert integer value 99 into string by enclosing it in single/ double quotes.

In [21]:
'I have eaten '+ '99 ' + 'burritos.'

'I have eaten 99 burritos.'